
/*첫번째 섹션*/
.first-container{
    height: 250px;
    width: 940px;
}
#preview {
    width: 120px;
    height: 160px;
}
.first{
    background-color: white;
    display: flex;
}
.item>label {
    display: inline-block;
    width: 100px;
}

/*두번째 섹션*/
.second-container {
    display: flex;
    height: 250px;
    width: 940px;
}

